IDEA Ignores #
################
*.iml
*.ipr
*.iws
.idea/
out/
local.properties

# Gradle Files
.gradle
build/
out/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

logs/
*.log
*.dump
sqlvolume/
.gradletasknamecache
.java-version
.vscode/
